/* Fondo y estructura general */
.ensayos-container {
  background-color: #009bb2;
  height: 100vh;
  padding: 40px 20px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ensayos-container h2 {
  background-color: white;
  color: black;
  font-size: 2.5rem;
  padding: 20px 40px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
}


.ensayos-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  width: 100%;
  max-width: 600px;
}

.ensayos-container li {
  background-color: #f1f1f1;
  color: black;
  margin: 10px 0;
  padding: 15px 25px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botones */
.ensayos-container button {
  margin: 10px;
  padding: 20px 35px;
  font-size: 1.5rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to bottom right, #f1f1f1, #e6e6e6);
  color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.ensayos-container button:hover {
  transform: scale(1.05);
}

.ensayos-container .volver-button {
  background-color: white;
  color: black;
}

.ensayos-container .volver-button:hover {
  background-color: #f1f1f1;
}


